@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  padding: 4px;
  padding: 26px 0;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  border-bottom: 1px solid;

  .title {
    font-size: 18px;
    font-family: GmarketSansMedium;
  }

  p {
    font-size: 90%;
    line-height: 1.4;
    font-weight: 300;
  }
}

.thumbnail.visible {
  opacity: 1;
}

.thumbnail-subinfo {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 300;
}

.subinfo-box {
  display: flex;
  align-items: center;
  gap: 3px;
}
