body.dark {
  background-color: $dark-background-color;
  color: $dark-font-color;

  .home-header {
    color: $dark-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }

  // thumbnail
  .thumbnail {
    border-bottom: 1px solid $dark-thumbnail-border-color;
    h3 {
      color: $dark-font-color;
    }
    p {
      color: $dark-middle-font-color;
    }

    .thumbnail-text {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
        text-shadow: $dark-hover-text-shadow;
      }
    }
  }

  .thumbnail-subinfo {
    color: $dark-middle-font-color;

    .subinfo-box-icon {
      stroke: $dark-middle-font-color;
    }
  }

  // footer
  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-footer-font-color;
    }
  }

  // post
  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  td {
    border-bottom: 1px solid #eee;
  }

  blockquote {
    &::before {
      background-image: $dark-blockquote-quote-image;
    }
  }

  // inline code
  :not(pre) > code[class*='language-'] {
    color: white;
    box-shadow: inset 0 -0.5rem $dark-inline-shadow-color;
  }
}
