body.dark {
  background-color: $dark-background-color;
  color: $dark-color;

  .bio {
    .author-name-content {
      background-color: $dark-name-content-background-color;
      &:hover {
        background-color: $dark-name-content-hover-color;
      }
    }
    .author-introduction {
      color: $dark-secondary-font-color;
    }
    a {
      color: $dark-color;
    }
    .author-image:hover {
      background-color: $dark-hover-color;
    }
    .author-socials {
      a::after {
        background-color: $dark-color;
      }
    }
  }

  .category-container {
    border-color: $dark-border-color;
    .item {
      color: $dark-tertiary-font-color;
      &[aria-selected='true'] {
        color: $dark-color;
        border-color: $dark-color;
      }
      &:hover {
        color: $dark-color;
      }
      &::after {
        background: $dark-color;
      }
    }
  }

  // thumbnail
  .posts-count {
    color: $light-secondary-font-color;
  }

  .thumbnail {
    border-color: $dark-border-color;
    .title {
      color: $dark-color;
    }
    p {
      color: $dark-secondary-font-color;
    }

    .thumbnail-text {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
        text-shadow: $dark-hover-text-shadow;
      }
    }
  }

  .thumbnail-subinfo {
    color: $dark-secondary-font-color;

    .subinfo-box-icon {
      stroke: $dark-secondary-font-color;
    }
  }

  // header
  .header {
    a {
      color: $dark-color;
    }
    svg {
      fill: $dark-color;
    }
    .home-nav {
      &::after {
        background: $dark-color;
      }
    }
  }

  .move:hover {
    background-color: $dark-hover-color;
  }

  // footer
  .footer {
    color: $dark-secondary-font-color;
    a {
      color: $dark-color;
    }
  }

  // post
  blockquote {
    border-left-color: $dark-blockquote-border-color;
    background: $dark-blockquote-background-color;
    color: $dark-blockquote-font-color;
  }

  h2 {
    border-bottom-color: $dark-border-color;
  }

  a {
    color: $dark-a-color;
  }

  img {
    border-color: $dark-border-color;
  }

  // inline code
  :not(pre) > code[class*='language-'] {
    color: $dark-color;
    box-shadow: inset 0 -0.5rem $dark-inline-color;
  }

  // post-nav
  .post-card {
    background-color: $dark-post-nav-background-color;
    &:hover {
      background-color: $dark-hover-color;
    }
    .direction {
      color: $dark-secondary-font-color;
    }
    .title {
      color: $dark-color;
    }
  }
}
