body.light {
  background-color: $light-background-color;
  color: $light-color;

  .bio {
    .author-name-content {
      background-color: $light-name-content-background-color;
      &:hover {
        background-color: $light-name-content-hover-color;
      }
    }
    .author-introduction {
      color: $light-secondary-font-color;
    }
    a {
      color: $light-color;
    }
    .author-image:hover {
      background-color: $light-hover-color;
    }
    .author-socials {
      a::after {
        background-color: $light-color;
      }
    }
  }

  .category-container {
    border-color: $light-border-color;
    .item {
      color: $light-tertiary-font-color;
      &[aria-selected='true'] {
        color: $light-color;
        border-color: $light-color;
      }
      &:hover {
        color: $light-color;
      }
      &::after {
        background: $light-color;
      }
    }
  }

  // thumbnail
  .posts-count {
    color: $light-secondary-font-color;
  }

  .thumbnail {
    border-color: $light-border-color;
    .title {
      color: $light-color;
    }
    p {
      color: $light-secondary-font-color;
    }

    .thumbnail-text {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
        text-shadow: $light-hover-text-shadow;
      }
    }
  }

  .thumbnail-subinfo {
    color: $light-secondary-font-color;

    .subinfo-box-icon {
      stroke: $light-secondary-font-color;
    }
  }

  // header
  .header {
    a {
      color: $light-color;
    }
    svg {
      fill: $light-color;
    }
    .home-nav {
      &::after {
        background: $light-color;
      }
    }
  }

  .move:hover {
    background-color: $light-hover-color;
  }

  // footer
  .footer {
    color: $light-secondary-font-color;
    a {
      color: $light-color;
    }
  }

  // post
  blockquote {
    border-left-color: $light-blockquote-border-color;
    background: $light-blockquote-background-color;
    color: $light-blockquote-font-color;
  }

  h2 {
    border-bottom-color: $light-border-color;
  }

  img {
    border-color: $light-border-color;
  }

  /* inline code */
  :not(pre) > code[class*='language-'] {
    color: $light-color;
    box-shadow: inset 0 -0.5rem $light-inline-color;
  }

  // post-nav
  .post-card {
    background-color: $light-post-nav-background-color;
    &:hover {
      background-color: $light-hover-color;
    }
    .direction {
      color: $light-secondary-font-color;
    }
    .title {
      color: $light-color;
    }
  }
}
