body.light {
  background-color: $light-background-color;

  .bio {
    .author-name-content {
      background-color: #f7f8fa;
    }
    .author-introduction {
      color: $light-middle-font-color;
    }
    a {
      color: $light-color;
    }
  }

  .category-container {
    .item {
      color: $light-category-font-color;
      &[aria-selected='true'] {
        color: $light-color;
        border-bottom: 2px solid $light-color;
      }
    }
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $light-color;
    }
  }

  // thumbnail
  .thumbnail {
    border-bottom: 1px solid $light-thumbnail-border-color;
    .title {
      color: $light-color;
    }
    p {
      color: $light-middle-font-color;
    }

    .thumbnail-text {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
        text-shadow: $light-hover-text-shadow;
      }
    }
  }

  .thumbnail-subinfo {
    color: $light-middle-font-color;

    .subinfo-box-icon {
      stroke: $light-middle-font-color;
    }
  }

  // header
  .header {
    a {
      color: $light-color;
    }
    svg {
      fill: $light-color;
    }
  }

  // footer
  .footer {
    color: $light-footer-font-color;
    a {
      color: $light-color;
    }
  }

  // post
  blockquote {
    &::before {
      background-image: $light-blockquote-quote-image;
    }
  }

  /* inline code */
  :not(pre) > code[class*='language-'] {
    color: black;
    box-shadow: inset 0 -0.5rem $light-inline-shadow-color;
  }

  // post-nav
  .post-card {
    background-color: $light-card-background-color;
    &:hover {
      background-color: $light-card-hover-background-color;
    }
    .direction {
      color: $light-direction-color;
    }
    .title {
      color: $light-color;
    }
  }
}
