@import './variables.scss';

blockquote {
  position: relative;
  margin-top: 12px;
  padding: 12px 8px 0px 36px;

  border-left: none;
  font-weight: 400;

  


  &::before {
    position: absolute;
    top: 16px;
    left: 4px;
    display: inline-block;
    background-size: contain;
    opacity: 0.3;
    width: 20px;
    height: 20px;
    z-index: 1;
    content: '';
    filter: opacity(0.5) drop-shadow(0 0 0 #ea00ff);
  }
}
