//* light-them
// body
$light-background-color: white;
$light-color: black;
$light-border-color: #ecf0f2;

// post-nav
$light-card-background-color: #f8f9fa;

// font
$light-middle-font-color: #989ba0;

// hover
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
$light-hover-color: #eeeff1;

// inline-code
$light-inline-color: #ffedbc;

// blockquote
$light-blockquote-border-color: #ffc700;
$light-blockquote-background-color: #f8f9fa;
$light-blockquote-font-color: #212529;

//* dark-theme
// body
$dark-background-color: #292a2d;
$dark-color: #e6e6e6;
$dark-border-color: #383636;

// post-nav
$dark-card-background-color: #242424;

// font
$dark-middle-font-color: #8e8f97;

// hover
$dark-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
$dark-hover-color: #3d3d3d;

// inline-code
$dark-inline-color: #47498a;

// dark
$dark-blockquote-border-color: #6062bb;
$dark-blockquote-background-color: #242424;
$dark-blockquote-font-color: #ececec;
