//* light-them
// body
$light-background-color: white;
$light-color: black;
$light-border-color: #ecf0f2;

// post-nav
$light-card-background-color: #f8f9fa;
$light-card-hover-background-color: #eeeff1;

// font
$light-middle-font-color: #989ba0;

// hover
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

// inline-code
$light-inline-color: #ffedbc;

// blockquote
$light-blockquote-quote-image: url('/images/quote-black.png');

//* dark-theme
// body
$dark-background-color: #292a2d;
$dark-color: #e6e6e6;
$dark-border-color: #383636;

// post-nav
$dark-card-background-color: #323232;
$dark-card-hover-background-color: #3c3d40;

// font
$dark-middle-font-color: #8e8f97;

// hover
$dark-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);

// inline-code
$dark-inline-color: #593f5b;

// blockquote
$dark-blockquote-quote-image: url('/images/quote-white.png');
