//* all

// text-shadow
$text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);

// navigator
$navigator-text-color: black;
$navigator-background-color: #f7f8fa;

//* light-theme

// body
$light-background-color: #fff;
$light-font-color: black;
$dark-font-color: white;


// font
$light-middle-font-color: #7d7d7d;
$light-footer-font-color: #aaa;

// hover
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

// author, category
$light-link-color: #000080;
$light-category-border-color: #ecf0f2;
$light-category-highlight-border-color: #909da1;
$light-category-highlight-text-color: #636c6e;
$light-category-item-color: #fff;
$light-category-text-color: #666;
$light-category-background-color: #f4f7f8;

// post-nav
$light-nav-color: #f7f8fa;
$light-nav-direction-color: #989ba0;

// thumbnail
$light-thumbnail-border-color: #ecf0f2;

// inline-code
$light-inline-shadow-color: #ffedbc;

// blockquote
$light-blockquote-quote-image: url('/images/quote-black.png');

//* dark-theme

// body
$dark-background-color: #282c35;

// header
$dark-header-color: white;

// font
$dark-font-color: #eeeeee;
$dark-middle-font-color: #d8d7d7;
$dark-footer-font-color: #fff;

// hover
$dark-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);

// author, category
$dark-link-color: #bb72ec;
$dark-category-border-color: rgb(56, 54, 54);
$dark-category-highlight-border-color: #666;
$dark-category-highlight-text-color: #fff;
$dark-category-item-color: #282c35;
$dark-category-text-color: #d8d7d7;
$dark-category-background-color: #24272c;

// thumbnail
$dark-thumbnail-border-color: rgb(56, 54, 54);

// inline-code
$dark-inline-shadow-color: #593f5b;

// blockquote
$dark-blockquote-quote-image: url('/images/quote-white.png');
