@import '../../styles/variables.scss';

.category-container {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 14px;
  max-width: 760px;
  width: 100%;

  .item {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    min-height: auto;
    min-width: auto;
    padding: 10px 12px;
    border-radius: 8px;
    font-family: GmarketSansMedium;
    font-size: 16px;
  }
}
