@import '../../styles/variables.scss';

.category-container {
  display: flex;
  height: 43px;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 760px;
  width: 100%;

  .item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 43px;
    padding: 10px 12px;
    font-family: GmarketSansMedium;
    font-size: 16px;

    &[aria-selected=false] {
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
