@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard');
  src: url('./Pretendard-Light.woff') format('woff');
  font-weight: lighter;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard');
  src: url('./Pretendard-Regular.woff') format('woff');
  font-weight: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pretendard';
  src: local('Pretendard');
  src: url('./Pretendard-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}