@import '../../styles/variables.scss';

.header-container {
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 663px;
    width: 100%;
    font-family: GmarketSansBold;
  }

  .home-nav {
    display: inline-block;
    font-size: 17px;
    width: auto;
    height: auto;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: '';
      width: 0;
      height: 2.5px;
      bottom: 0;
      left: 0;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
